*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login {
  position: relative;
}
  form {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    top: 50px;
    right: 230px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 40px 35px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  input {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #e5e5e5;
  }




.reset-btn{
    background-color: rgb(23, 197, 23) !important;
    margin-bottom: 90px;
    width: 150px !important;
    font-size: 14px !important;
    padding: 10px 0 !important;
    border-radius: 5px;
}

.fg-text{
    padding: 20px;
    background-color: rgb(228, 175, 75);
    border: 1px solid orange;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Preset{
    margin-bottom: 30px;
}

.second_p{
    color: red !important;
    margin-bottom: 10px;
    
}