<section class="login-section">
    <div class="container">
      <div class="login">
        <form>
            <h2 class="Preset">Password Reset</h2>

            <p class="fg-text">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
          <input type="email" placeholder="E-mail address" id="username" />
            <p class="second_p">Required</p>
          <button class="reset-btn">Reset My Password</button>
        </form>
      </div>
    </div>
  </section>
  

