.submission-section {
  .submission {
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #262626;
    width: 630px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  table {
    width: 570px;
    border: solid 1px transparent;
    text-align: left;
    color: white;
    border-collapse: collapse;
    th {
      padding: 0px 0 10px 0;
      border-bottom: 1px solid #525252 !important;
    }
    tbody {
      h2 {
        font-size: 16px;
        color: rgb(5, 182, 5);
      }
      p {
        font-size: 13px;
      }
      td:nth-child(2)span {
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 30px;
        background-color: #525252;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
      }
      tr {
        margin-bottom: 20px;
      }
    }
    .note {
      width: 70px;
      height: 100%;
    }
    .note:hover::after {
      content: "+ Notes";
      display: block;
      color: royalblue;
    }
  }
}
